@import url("./reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply h-full;
  }

  .lock-scroll-y {
    @apply fixed bottom-0 left-0 right-0 top-0 overflow-y-hidden;
  }

  body {
    @apply relative;
  }

  body .visually-hidden {
    @apply absolute m-[-1px] h-[1px] w-[1px] overflow-hidden border-0 p-0;

    clip: rect(0 0 0 0);
  }

  body .focus-primary:focus-visible {
    @apply outline-none ring-yellow-300;
  }

  body .focus-primary:focus {
    @apply outline-none ring-2 ring-yellow-300;
  }

  body .focus-within-primary:focus-within {
    @apply outline-none ring-2 ring-yellow-300;
  }

  body .focus-primary:focus:not(body .focus-primary:focus-visible) {
    @apply ring-0;
  }

  body .focus-primary-child {
    @apply ring-2 ring-yellow-300;
  }

  body .link {
    @apply relative;
  }

  body .link::after {
    @apply absolute bottom-0 left-0 right-0 h-0.5 origin-left scale-x-0 bg-yellow-300 transition-transform content-[''];
  }

  body .link:hover::after {
    @apply scale-x-100;
  }

  ::-moz-selection {
    @apply bg-yellow-300 text-dark;
  }

  ::selection {
    @apply bg-yellow-300 text-dark;
  }
}

/* Make clicks pass-through */
#nprogress {
  --primary-color: #f4b110;

  pointer-events: none;
}
body #nprogress .bar {
  background: var(--primary-color);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (hover: hover) and (pointer: fine) {
  *::-webkit-scrollbar {
    @apply lg:h-8 lg:w-8;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply lg:bg-grey-500;
  }

  *::-webkit-scrollbar-track {
    @apply lg:bg-grey-100;
  }

  *::-webkit-scrollbar-thumb {
    @apply lg:rounded-sm lg:border-4 lg:border-grey-100 lg:bg-grey-300;
  }
}
